
<h1>Angular App</h1>
<nav>
  <a routerLink="home" routerLinkActive="activebutton" class="button">Home </a> |
  <a routerLink="about" routerLinkActive="activebutton" class="button">About</a> |
  <a routerLink="profile/1" routerLinkActive="activebutton" class="button">Profile</a>
</nav>

<router-outlet/>



<!-- <h1 appAppHighlight>
  Pasa el mouse sobre este texto para ver el cambio de color.
</h1>

<h1 appAppHighlight>
  Otro elemento que cambia de color al pasar el mouse por encima.
</h1> -->


<!--
<div *ngIf="users.length > 0; else loading">
  <h1>Lista de Usuarios</h1>
  <ul>
    <li *ngFor="let user of users">
      {{ user.name }} - {{ user.email }}
    </li>
  </ul>
</div>

<ng-template #loading>
  <p>Cargando usuarios...</p>
</ng-template>


<div>
  <app-user-card [userName]="'JosePC'"></app-user-card>
</div> -->